In [1]:
from pyspark.sql.functions import udf,col

In [2]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("SurvivalDataAnalysis").master("local[*]") \
    .config("spark.driver.memory", "16g") \
    .config("spark.executor.meomory", "16g") \
        .config("spark.driver.maxResultSize", "4g") \
            .getOrCreate()

24/01/19 14:21:42 WARN Utils: Your hostname, cssh-alpha resolves to a loopback address: 127.0.1.1; using 134.130.186.164 instead (on interface bond0)
24/01/19 14:21:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/19 14:21:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/19 14:21:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
path = '/home/cxu/code-swh-graph/snapshot_revisions/merged_result.txt'

In [4]:
df = spark.read.text(path)

In [5]:
df.show(5)

+--------------------+
|               value|
+--------------------+
|e782789e19560aed3...|
|4d2dac5c607a2cacb...|
|bc1a0babc0c8485a5...|
|0fbaa115e7fe163ce...|
|6b8f724a4fbd9a2c7...|
+--------------------+
only showing top 5 rows

In [6]:
df.count()

19537

In [7]:
df.printSchema()

root
 |-- value: string (nullable = true)

In [8]:
df_pandas = df.toPandas()

In [9]:
df_pandas.columns

Index(['value'], dtype='object')

In [9]:
df_pandas.head()

                                               value
0  e782789e19560aed3b6eaf9ed2847702013d9f19:['swh...
1  4d2dac5c607a2cacb4301d9344244a730297262c:['swh...
2  bc1a0babc0c8485a5625a75996d9a9dc4854b289:['swh...
3  0fbaa115e7fe163ce75a388cb56c4f80fb3f7465:['swh...
4  6b8f724a4fbd9a2c7a16cd8eb3e485434cf6c325:['swh...

In [13]:
df_pandas.to_csv('/home/cxu/snapshot-revisions/snap_revisions.csv', index=False)

In [ ]:
# df = spark.read.option("delimiter", ":").csv(path)